.marker-btn {

}

img {
  width: 20px;
  height: 20px;
  background-size: contain;
}

button {
  border: none;

}

button:active {
  border: none;
}

button:hover {
  cursor: pointer;
}

.cluster-marker {
  background-color: #00acee;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
}

.cluster-marker:hover {
  cursor: pointer;
}